.about {
    &__text {
        font-size: calc(1.1rem + 1vw);

        @include media-breakpoint-down(sm) {
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: calc(1rem + 1vw);
        }

        @include media-breakpoint-down(lg) {
            text-align: center;
        }
    }

    &__img {
        img {
            max-width: 100%;
        }

        @include media-breakpoint-down(lg) {
            width: 60%;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 1rem !important;
    }
}
