.hero {
    &__text {
        .display-1 {
            font-size: calc(1.625rem + 4.5vw);
        }

        .display-5 {
            font-size: calc(1.425rem + 1.6vw);
        }

        .display-6 {
            font-size: calc(1.375rem + 1.2vw);
        }
    }

    &__img {
        img {
            max-width: 100%;
        }

        @include media-breakpoint-down(lg) {
            width: 60%;
        }

        @include media-breakpoint-down(md) {
            width: 70%;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}
