@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    position: absolute;
    overflow: visible;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('./assets/blob_bg.png');
    background-color: white;
    animation: backgroundAnimation 8s;
    animation-iteration-count: infinite;
    transition: all;
    transition-duration: 200ms;
}

@keyframes backgroundAnimation {
    from {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(300deg);
    }

    to {
        filter: hue-rotate(0deg);
    }
}

.font-light > *,
.font-light {
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
}

.display-5 {
    font-size: calc(1.425rem + 1.6vw);
}

.display-6 {
    font-size: calc(1.375rem + 1.2vw);
}

.rubberBand {
    animation: rubberBand 1.2s 1;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 800ms linear;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 800ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 800ms linear;
}

.fade-exit-done {
    opacity: 0;
}
